/*reset*/
html,
body { 
	background: #f0eae3;
  background-image: url(images/bg-0214.png);
	margin: 0;
	padding: 0;
	color: #46433A;
}

h1,h2,h3,h4,p {
  margin: 0;
}

a {
	color:#46433A;
}
ul {
	list-style: none;
	padding-left: 0;
}
.contents::after,
.content-social::after,
.content-site::after {
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
/*エリア*/

.header {
  text-align: center;
}
.footer {
  text-align: center;
  margin: 2em 10px;
  font-size: .8em;
}
.contents {
  width: 800px;
  margin: 0 auto;
}


/*サイトエリア*/
.content-box {
  background: #fff;
  float: left;
  position: relative;
  width: 240px;
  margin-left: 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border: 1px solid #ccc;
  box-shadow: 0 1 1px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 1 1px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 1 1px rgba(0, 0, 0, .3);
}

.content-site {
  padding: 2px 14px 2px 14px;
  margin-top: 20px;
}

.content-social {
  padding: 2px 14px 2px 14px;
}

/*テキスト*/
.header h1 {
  margin: .5em 10px 0;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 3.6em;
  color: #ab0909;
  text-shadow: 0 1px 1px rgba(255,255,255,0.6);
}
.header h2 {
  color: #a75757;
  margin: 1em 0 2em;
  font-size: 1em;
}

.content-box h3 {
  position: absolute;
  top: -14px;
  left: 10px;
  padding: 4px 10px;
  color: #fff;
  font-weight: normal;
  font-size: .8em;
}
.content-box.uniq-pic h3 {
  background: #f66085;
}
.content-box.uniq-tech h3 {
  background: #27bfdb;
}
.content-box.uniq-private h3 {
  background: #ff770b;
}

.content-site img {
  border: 3px solid #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, .3);
}
.content-site p {
  margin: .4em 0;
  font-size: .8em;
}
/*button*/
.button {
  width: auto;
  cursor: pointer; 
  display: inline-block; 
  font-family: inherit; 
  font-size: 14px; 
  font-weight: bold; 
  line-height: 1; 
  margin: 0; 
  padding: 6px 20px 6px; 
  position: relative; 
  text-align: center; 
  text-decoration: none; 
  background: #c3b791;
  border: 1px solid #8f8155;
  webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; 
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; 
  color: #fff; 
  -webkit-transition: background-color 0.15s ease-in-out; 
  -moz-transition: background-color 0.15s ease-in-out; 
  -o-transition: background-color 0.15s ease-in-out; 
  transition: background-color 0.15s ease-in-out;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   -ms-border-radius: 6px;
   -o-border-radius: 6px;
   border-radius: 6px; 
}
.button:hover,
.button:focus {
  color: #fff;
  background-color: #a89b71;
}
.button:active { 
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset; 
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset; 
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset; }
.content-site .button {
  float: right;
}
