/* -----------------
navbar
-------------------- */

.navbar-default {
  background-color: rgba(255,255,255,.6);
}
.navbar-default a.navbar-brand {
  color: #000;
  font-family: 'Lato', sans-serif;
  font-size: 36px;
}
.navbar-default .navbar-nav>.active>a {
  background-color: rgba(0,0,0,.8);
  color: #ccc;
}
/* -----------------
html
-------------------- */

html,
body {
	background: #ebf5df;
  background-image: url(images/bg-20130407.png);
  background-repeat: no-repeat;
  background-position: top left;
	color: #333;
}
/* -----------------
エリア
-------------------- */
.jumbotron {
  min-height: 240px;
  background-color: rgba(0,0,0,0);
}
.jumbotron h1 {
  display: none;
}
.l_profile {
  background-color: rgba(255, 255, 255, 0.8);
}

.l_social img {
  width: 32px;
}
.l_doujin a img,
.l_doujin img {
  height: 230px;
}
.l_doujin .caption {
  text-align: center;
}
footer {
  text-align: right;
  padding-bottom: 30px;
}
.l_doujin hr,
footer hr {
  border-color: #333;
}


/* -----------------
RWD
-------------------- */
@media screen and (max-width: 479px) {
  .l_doujin a img,
  .l_doujin img {
    height: auto;
  }

}

@media screen and (min-width: 480px) and (max-width: 767px) {

}
@media screen and (min-width: 768px)  {

}

/* -----------------
ボタン
-------------------- */
.button {
  width: auto;
  cursor: pointer; 
  display: inline-block; 
  font-family: inherit; 
  font-size: 14px; 
  font-weight: bold; 
  line-height: 1; 
  margin: 0 5px 10px 5px; 
  padding: 0; 
  position: relative; 
  text-align: center; 
  text-decoration: none; 
  background: #000;
  border: 1px solid #000;
  color: #fff; 
  -webkit-transition: background-color 0.15s ease-in-out; 
  -moz-transition: background-color 0.15s ease-in-out; 
  -o-transition: background-color 0.15s ease-in-out; 
  transition: background-color 0.15s ease-in-out;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -ms-border-radius: 3px;
   -o-border-radius: 3px;
   border-radius: 3px; 
}
.button:hover,
.button:focus {
  color: #fff;
  background-color: #333;
}
.button:active { 
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset; 
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset; 
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset; }

/* -----------------
motion
-------------------- */
.motion {
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -ms-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;

}

